#header
  / #tabs1{:style => "margin-left:50px;width:984px"}
  /   %ul
  /     %li
  /       %a{:href=>"http://www.google.com"}Patients
  /     %li
  /       %a{:href=>"/patient_reports"}Reports
  
    