#header
  #topnav
    %ul
      -if @show_reports
        %li
          %a.flt-right{:href=>"#{show_all_patient_patient_reports_path(@patient)}"}Reports
      %li
        %a.flt-right{:href=>"#{patients_path}"}Patients
      







  / #tabs1{:style => "margin-left:50px;width:984px"}
  /   %ul
  /     %li
  /       %a{:href=>"http://www.google.com"}Patients
  /     %li
  /       %a{:href=>"/patient_reports"}Reports
  
