#header
  %a.flt-right{:href=>"/signout" ,:style => "color:white;"}Sign Out
  %img.flt-right{:src=>"/assets/lab_reports.png", :id=>"logo"}
  #topnav
    %ul
      %li
        %a.flt-left{:href=>"#{patients_path}"}Patients
      -if @show_reports
        %li
          %a.flt-left{:href=>"#{show_all_patient_patient_reports_path(@patient)}"}Reports

      







  / #tabs1{:style => "margin-left:50px;width:984px"}
  /   %ul
  /     %li
  /       %a{:href=>"http://www.google.com"}Patients
  /     %li
  /       %a{:href=>"/patient_reports"}Reports
  
