#content.patients_table 
  %div{:style => "margin: 20px;"}   
    = link_to '+ Patient', new_patient_path ,:class =>"new_patient_link", :id => "new_patient"
    %span.arrow-down 
    %label.list  List
  #patient_content
    = render 'patients_list'

  
