= semantic_form_for @patient_report do |f|  
  = f.hidden_field :patient_id
  
  = f.input :referred_by, :placeholder => 'Reference ' , :label => false ,  :input_html => {:class => "text_box"}
    
  .actions
    = f.submit 'Save'
